body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
}

.navbar {
    background-color: #333;
    color: #edf1f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo h2 {
    margin: 0;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    color: #8ae3d7;
}

.logout a {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.logout a:hover {
    background-color: #8ae3d7;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.report-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.report-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.report-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.report {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.report h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.report p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.report a {
    display: block;
    width: 100px;
    padding: 10px 0;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.report a:hover {
    background-color: #0056b3;
}
.content{
    display: flex;
    justify-content: flex;

}